@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #FAED26;
}

/*Start of Header Section*/
#header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color: #000;
    border:2px solid;
    
}

.logo img{
    width:150px;
    height:150px;
    margin-top:2px;
    padding:30px;
    margin-left:25px;
    transition:transform 0.5s;
    
}
.logo img:hover{
    transform:scale(1.5);
}

nav{
    display:flex;
    margin-left:0px;
    flex-basis: 80%;
    margin-top:45px;
    
}

nav li{
    list-style: none;
    margin-top:15px;
    margin-left: 100px;;
}
nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#FAED26;
    font-family: 'Teko', sans-serif;
    font-size:30px;
    padding:10px;
    margin-left:0px;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
nav li a:hover{
    color:#000;
    background-color: #FAED26;
    
}


/*End of Header Section*/
#title{
    display:flex;
    justify-content: space-around;
    
}
#title .img-1 img{
    position: relative;
    border:1px solid;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 75px;
    width:100px;
    height:100px;
    
   
}
#title .img-1 p{
    font-size:25px;
    font-weight:400;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
#title .img-2 img{
    position: relative;
    border:1px solid;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 65px;
    width:100px;
    height:100px;
    
   
}
#title .img-2 p{
    font-size:25px;
    font-weight:400;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
#title .content h1{
    text-align: center;
   
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 130px;
    letter-spacing: 5px;
    
}
#title .content .line-1{
    color:#fff;
    text-shadow:4px 4px 10px rgba(0,0,0,0.5);
}
#title .content .line-2{
    margin-top:-65px;
    margin-left:-220px;
    color:rgb(117, 12, 122);
    text-shadow:4px 4px 10px rgba(0,0,0,0.5);
}
#title .content .line-3{
    margin-top:-65px;
    margin-left:40px;
    color:rgb(250, 140, 6);
    text-shadow:4px 4px 10px rgba(0,0,0,0.5);
}
#title .content .line-4{
    position:absolute;
    margin-top:-290px;
    margin-left:300px;
    transform: rotate(-90deg);
    color:rgb(45, 122, 7);
    font-size: 90px;
    text-shadow:4px 4px 10px rgba(0,0,0,0.5);
}
/*Start of About Section*/
#About{
    margin-top:80px;
    
}
#About h1{
    text-transform: uppercase;
    text-align: center;
    margin-top:50px;
    font-size:50px;
    font-family: 'Teko', sans-serif;
}
#About p{
    color:#000;
    margin-top:25px;
    font-size:18px;
    font-weight:500;
    font-family: 'Arial';
    line-height:30px;
    text-align:center;
}
#About .date{
    margin-top:55px;
    margin-left:25px;
    margin-right:25px;
    padding:25px;
    background-color: rgba(42, 0, 251, 0);
    border-radius:15px;
    text-align: center;
    text-transform: uppercase;
    font-size:35px;
    letter-spacing:1px;
    line-height:60px;
    
}
#About .date h3{
    background: linear-gradient(to right, #e70c0ce7,
    #f98007, #eb0606cb, #db8010); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
}

/*End of About Section*/
/*Start of Category Section*/
#category h1{
    text-transform: uppercase;
    text-align: center;
    margin-top:50px;
    font-size:50px;
    font-family: 'Teko', sans-serif;
}
#category .cards{
    margin-top:50px;
    display:flex;
    justify-content: space-around;
}
#category .cards .card-1,#category .cards .card-2,#category .cards .card-3{
    border:2px solid;
    padding:25px;
    background-color: #000;
    border-radius:15px;
}
#category .cards .card-1 h2,#category .cards .card-2 h2,#category .cards .card-3 h2{
    color:#00defc;
    text-align: center;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size:35px;
    letter-spacing:1px;
}
#category .cards .card-1 p1,#category .cards .card-2 p1,#category .cards .card-3 p1{
color:#00e0f0;
}
/*End of Category Section*/
/*Start of Rules Section*/
#rules .title h1{
    text-transform: uppercase;
    text-align: center;
    margin-top:50px;
    font-size:50px;
    font-family: 'Teko', sans-serif;
}
#rules .details{
    display:flex;
    justify-content: space-between;
}
#rules .details .col-1{
    
    margin-left:10px;
    font-size: 22px;
    line-height:35px;
    
}
#rules .details .col-2{
    
    margin-left:100px;
    margin-right: 10px;
    font-size: 22px;
    line-height:35px;
}

/*End of Rules Section*/
/*Start of Route Section*/
#route .title h1{
    text-transform: uppercase;
    text-align: center;
    margin-top:50px;
    font-size:50px;
    font-family: 'Teko', sans-serif;
}
#route img{
    width:1200px;
    height:500px;
    border:2px solid;
    margin-left:30px;
    margin-right:25px;
}
#route .details{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#route .details .col-1,#route .details .col-2{
    border:2px solid;
    padding:25px;
    background-color: #000;
    border-radius:15px;
}
#route .details .col-2{
    width:450px;
}
#route .details .col-1 h3,#route .details .col-2 h3{
    font-family: 'Teko', sans-serif;
    font-size:50px;
    color: #FAED26;
    letter-spacing: 2px;
    text-align: center;
}
#route .details .col-1 ul li,#route .details .col-2 ul li{
    color: #FAED26;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    list-style: none;
    text-align: center;
}
#route .details .col-2 ul li{
    line-height: 45px;
}
/*End of Route Section*/
/*Start of Footer Section*/
#registration{
    text-align:center;
    margin-top:100px;
}
#registration .btn a{
    
    background-color:#000;
    text-decoration: none;
    color: #FAED26;
    padding:25px;
    font-size: 22px;
    transition: color 1s forwards;
}
#registration .btn a:hover{
    color:#000;
    background-color: #FAED26;
    border: 2px solid;
}
/*End of Route Section*/
/*Start of Footer Section*/
#Footer{
    margin-top:80px;
    background-color: #000;
    opacity:0.9;

}
#Footer .row-2{
    display:flex;
    margin-left:200px;
}
#Footer .row-2 .icons a .fa-square-facebook,#Footer .row-2 .icons a .fa-square-instagram,#Footer .row-2 .icons a .fa-square-twitter,#Footer .row-2 .icons a .fa-square-youtube{
    color:#FAED26;
    margin-left:5px;
}
#Footer .row-2  p{
    color:#fff;
    font-size:15px;
    margin-left:540px;
    margin-top:15px;
    
}
/*Endof Footer Section*/