@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee+Outline&family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rampart+One&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


/*Start of Header Section*/
#header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border: 6px solid #FAED26;
    z-index:50;
    background: #000;
    
}
.nav-1{
    flex-basis:41%;
    margin-top:45px;
}
.logo img{
    width:150px;
    height:150px;
    margin-top:2px;
    padding:30px;
    margin-left:25px;
    transition:transform 0.5s;
    
}
.logo img:hover{
    transform:scale(1.5);
}
.nav-2{
    flex-basis:45%;
    margin-top:45px;
    
    
}
nav{
    display:flex;
    width:1050px;
   
    
}
nav li{
    list-style: none;
    margin-top:15px;
    
   
}
nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#FAED26;
    font-family: 'Teko', sans-serif;
    font-size:30px;
    padding:10px;
    margin-left:30px;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
nav li a:hover{
    color:#000;
    background-color: #FAED26;
    
}


/*End of Header Section*/
#event{
    position:absolute;
    top:540px;
    background-color:#ff0000;
    z-index:100;
    width:100%;
    border:2px solid #ffffff;
}

#event .btn{
    position:relative;
    margin-left: 475px;
    color:#ffffff;
    font-size:18px;
    text-transform: uppercase;
    text-decoration:none;
    font-weight:500;
   padding:10px;
   
}

/*Start of Cover Section*/
.text{
    margin-top:50px;
    margin-left:45px;
}
#Cover .text h5{
    font-family: 'Bungee Outline', cursive;
    font-weight: 400;
    color:transparent;
    font-size:75px;
    line-height:70px;
    animation:text-reveal .7s infinite;
    
}
#Cover .text h5:nth-child(1){
    animation-delay:1s ;
}
#Cover .text h5:nth-child(2){
    animation-delay:2s ;
}
#Cover .text h5:nth-child(3){
    animation-delay:3s ;
}
#Cover .text p{
    font-family: 'Bungee Outline', cursive;
    margin-top:-25px;
    font-weight: 400;
    color:transparent;
    font-size:50px;
    animation:text-reveal .7s forwards;
    animation-delay:4s;
}
@keyframes text-reveal{
    100%{
        color:#dc9b9b;
    }
}

#Cover{
    border:0.01px solid;
    border-left: 5px solid #FAED26;
    border-right: 5px solid #FAED26;
    height:410px;
    background-image: url(./images/image-1a.jpg);
    background-size: cover;
    position: relative;
    z-index:1;
}
#Cover::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(to right,rgba(0,0,0,1) 0%,rgba(0,0,0,0.7)60%,rgba(0,0,0,0.7) 60%,rgba(0,0,0,0.7) 100%);
    
    height:100%;
    width:100%;
   
    z-index:-1;
}

/*End of CoverSection*/
/*Start of About Section*/
#About{
    height:568px;
    background-image: url(./images/image-2.jpg);
    position:relative;
    z-index:1;
    background-size: cover;
    border: 5px solid #FAED26;
}
#About::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(to left,rgba(0,0,0,1) 0%,rgba(0,0,0,0.7)100%,rgba(0,0,0,0.7) 80%,rgba(0,0,0,0.7) 100%);
    height:100%;
    width:100%;
    z-index:-1;
}

#About .row{
    display:flex;
    z-index:10;
    position: relative;
}

.row .col-1{
    margin-left:25px;
    margin-top:75px;
    height:500px;
    flex-basis:50%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;  
}
.row .col-1 .fa-person-running,.row .col-1 .fa-person-biking,.row .col-1 .fa-person-walking{
    --fa-beat-fade-opacity: 0.67;
    --fa-beat-fade-scale: 1.075;
    color:#FAED26;
}
.row .col-1 .fa-person-biking{
    color:rgb(26, 201, 10)
}
.row .col-1 .fa-person-walking{
    color:#ab15d8;
}
.row .col-2{
   
    flex-basis:50%;
}
.about-text p span{
    color:#FAED26;
    font-family: 'Teko', sans-serif;
    font-weight:400;
    font-size:30px;
}

.about-text p{
    
    margin-top:150px;
    color:#fff;
    margin-right:25px;
    font-size:20px;
    font-weight:500;
    font-family: 'Arial';
    line-height:30px;
    text-align:justify;
    
    
   
}
.row .col-2 a{

   text-decoration:none;
   color:yellow;
   margin-left:175px;
   
}
.row .col-2 .btn{
    position:relative;
   
    color:#ffffff;
    border:2px solid #fdfdfd;
    background-color: #ff0000;
    font-size:18px;
    text-transform: uppercase;
    font-weight:500;
    width:100px;
    padding:10px;
}
.row .col-2 .btn:hover{
    color:#000000;
    background-color: #FAED26;
    border:2px solid #020202;
     
 }
/*End of About Section*/
/*Start of Activities Section*/
#Activities{
    background-color: #000;
    opacity:0.9;
    border: 5px solid #FAED26;
    height:568px;
}
#Activities .row{
    display:flex;
    flex-wrap:wrap;
    position: relative;
}

#Activities .row .col-1{
    flex-basis:60%;
    padding-top:px;
    padding-right:60px;
    display:flex;
    flex-direction:column;
}
#Activities .row .col-1 .row-1{
    flex-basis:50%;
}
#Activities .row .col-1 .row-1 img{
    width:450px;
    height:250px;
    border:15px solid rgb(46, 220, 7)
}

#Activities .row .col-1 .row-2{
    flex-basis:45%;
    margin-right:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#Activities .row .col-1 .row-2 img{
    
    width:230px;
    height:150px;
    margin-left:10px;
    border:10px solid rgb(16, 238, 208);
    transition:transform 2s linear;

}
#Activities .row .col-1 .row-2 img:hover{
    transform:scale(1.05);
}
#Activities .row .col-2{
    flex-basis:30%;
    margin-top:120px;
    margin-bottom:100px;
   
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
#Activities .row .col-2 div{
    display: flex;
}
#Activities .row .col-2 div h3{
    margin-left:10px;
    margin-top:5px;
    color:#963cce;
    font-size:20px;
    font-family: 'Orbitron', sans-serif;
    font-weight:400;
}
#Activities .row .col-2 div .fa-arrows-spin{
    color:#FAED26;
}
@keyframes scale-1{
    0%{
        transform:scale(1);
    }
    25%{
        transform:scale(1.05);
    }
    50%{
        transform:scale(1.1);
    }
    75%{
        transform:scale(1.05);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes scale-2{
    0%{
        transform:scale(1);
    }
    25%{
        transform:scale(1.025);
    }
    50%{
        transform:scale(1.05);
    }
    75%{
        transform:scale(1.025);
    }
    100%{
        transform:scale(1);
    }
}
/*End of Activities Section*/
/*Start of Training Section*/
#Training{
    height:568px;
    border: 5px solid #FAED26;
    background-image: url(./images/image-13.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    position:relative;
    z-index:1;
    background-size: cover;
}
#Training::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,1)80%,rgba(0,0,0,1) 80%,rgba(0,0,0,0.7) 100%);
    height:100%;
    width:100%;
    z-index:-1;
}
#Training .row{
    
    position:relative;
    top:45%;
   
}
#Training .row .row-1 h1{
    color:#ffffff;
    font-family: 'Rubik 80s Fade', cursive;
    font-weight:400;
    font-size:70px;
    margin-left:130px;
}
#Training .row .row-2 ul {
    display:flex;
    margin-top:20px;
    margin-right:40px;
    
}
#Training .row .row-2 ul li{
    list-style: none;
    color:#c300ff;
    font-family: 'Rampart One', cursive;
    font-weight:400;
    font-size:30px;
    letter-spacing: 1px;
    margin-left:100px;
}
#Training .row .row-3{
    
    margin-top:50px;
    margin-left:30%;
}
#Training .row .row-3 a{

    text-decoration:none;
    color:yellow;
    margin-left:175px;
 }
 #Training .row .row-3 .btn{
     position:relative;
     
     color:#ffffff;
     border:2px solid #ffffff;
     background-color: #ff0000;
     font-size:18px;
     text-transform: uppercase;
     font-weight:500;
     width:100px;
     padding:10px;
 }
 #Training .row .row-3 .btn:hover{
     color:#000;
     border:2px solid #000;
     background-color: #FAED26;
      
  }
/*End of Training Section*/
/*Start of Gallery Section*/
#Gallery{
    background-color: #000;
    opacity:0.9;
    border:5px solid #FAED26;
    height:568px;
}
.slider-container {
    position: absolute;
    height: 75%;
    width: 75%;
    
    margin-top:50px;
    margin-left:160px;
    
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border:2px solid #ffffff;
    background: rgb(246, 3, 3);
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover{
    background: #FAED26;
    border:2px solid #000;
  }
  .slide{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }
  .slide-1 {
    
    background-image: url("/images/image-4.jpg");
  }
  .slide-2 {
    background-image: url("/images/image-17.jpg");
  }
  .slide-3 {
    background-image: url("/images/image-16.jpg");
  }
#Gallery a{
    text-decoration:none;
    font-size:14px;
    
   
}
#Gallery .btn{
    position:relative;
    margin-left:570px;
   top:25px;
    bottom:0px;
    color:#ffffff;
    border:2px solid #ffffff;
    background-color: #ff0000;
    font-size:18px;
    text-transform: uppercase;
    font-weight:500;
    width:100px;
    padding:10px;
    
}
#Gallery .btn:hover{
   color:#000000;
   background-color: #FAED26;
   border:2px solid #000;
    
}
/*End of Gallery Section*/

/*Start of Footer Section*/
#Footer{
    background-color: #000;
    opacity:0.9;
    border: 5px solid #FAED26;
    height:568px;

}
#Footer .row-1{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
   height:500px;
    
    
}
#Footer .row-1 .col-1{
    flex-basis:50%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    
}
#Footer .row-1 .col-1 h3{
    margin-top:50px;
    margin-left:190px;
    font-size:45px;
    font-family: 'Zen Dots', cursive;
    color:#FAED26;
}
#Footer .row-1 .col-1 form{
    display:flex;
    flex-direction:column;
    margin-top:50px;
}
#Footer .row-1 .col-1 form input{
    width:75%;
    padding:12px 10px;
    margin-bottom:15px;
    margin-left:80px;
    outline:none;
    box-shadow:none;
    box-sizing:border-box;
    border:2px solid #ff0000;
}
#Footer .row-1 .col-1 form a{
    text-decoration:none;

}
#Footer .row-1 .col-1 form .btn{
    margin-top:25px;
    margin-left:250px;
    text-align:center;
    border:2px solid #ffffff;
    color:#ffffff;
    background-color:rgb(211, 16, 16);
    font-size:18px;
    text-transform: uppercase;
    font-weight:500;
    width:100px;
    padding:10px;
}
#Footer .row-1 .col-1 form .btn:hover{
    color:#000;
    border: 2px solid #000;
    background-color: #FAED26;
}
#Footer .row-1 .col-2{
    flex-basis:50%;

}
#Footer .row-1 .col-2 .details{
    margin-left:60px;
    margin-top:50px;
    color:#FAED26;
}
#Footer .row-1 .col-2 .details .fa-solid{
    color:#fefbff
}
#Footer .row-1 .col-2 .details p{
    font-size:15px;
}
#Footer .row-1 .col-2 .map iframe{
    margin-left:60px;
    margin-top:15px;
    
}
/*Start of Footer Section*/

#Footer .row-2{
    display:flex;
    margin-left:200px;
}
#Footer .row-2 img{
    width:50px;
    height:50px;
    cursor:pointer;

}
#Footer .row-2 img:hover{
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);;
}
#Footer .row-2  p{
    color:#fff;
    font-size:15px;
    margin-left:540px;
    margin-top:15px;
    
}
/*Endof Footer Section*/

